.siteBody{
    height: 980px;
}

.navbar
{
    height: 10%;
    background-color:rgb(28, 91, 133);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer
{
    height: 5%;
    background-color:darkslategray;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    height: 85%;
    display: flex;
    font-size: 100px;
}